<div class="jumbotron" style="padding:18px 60px;">
    <div style="font-size:22px;">
        <span>工序信息</span>
        <span style="font-size:14px;padding-left:14px;">@Html.ActionLink("焊接工艺规程", "Index", "Home") >> @Html.ActionLink("规程1234", "", "") >> 工序20</span>
    </div>
</div>
<div class="row" style="padding:0px 60px 20px;">
    <div class="col-md-4 col-xs-6">
        工艺规程编号：1234
    </div>
    <div class="col-md-4 col-xs-6">
        审核状态：未审核
    </div>
</div>
<div class="row" style="padding:0px 60px 20px;">
    <div class="col-md-4 col-xs-6">
        零件号：4352
    </div>
    <div class="col-md-4 col-xs-6">
        零件名称：倒流阀
    </div>
</div>
<div class="row" style="padding:0px 60px 20px;">
    <div class="col-md-4 col-xs-6">
        工序号：20
    </div>
    <div class="col-md-4 col-xs-6">
        工序名称：焊接
    </div>
</div>
<div class="row" style="padding:0px 60px 20px;">
    <div class="col-md-4 col-xs-6">
        焊接方法：TIG焊
    </div>
</div>
<div class="jumbotron" style="padding:18px 60px;">
    <div style="font-size:22px;">
        <span>焊缝1</span>
        <span style="font-size:14px;padding-left:14px;">试焊状态：已完成</span>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>接头形式</th>
            <th>焊缝等级</th>
            <th>检验标准</th>
            <th>材料牌号1</th>
            <th>厚度1</th>
            <th>材料牌号2</th>
            <th>厚度2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>对接接头</td>
            <td>高级</td>
            <td>正常</td>
            <td>1Cr8Ni9Ti</td>
            <td>1.5</td>
            <td>10Cr18Ni9</td>
            <td>1</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped table-hover" style="margin:30px 0px;">
    <thead>
        <tr>
            <th>焊接电流(A)</th>
            <th>焊接速度(mm/min)</th>
            <th>焊料牌号</th>
            <th>焊料规格</th>
            <th>氩气流量正(L/min)</th>
            <th>氩气流量反(L/min)</th>
            <th>电流衰减(s)</th>
            <th>保护气滞后(m/s)</th>
            <th>送丝速度(m/min)</th>
            <th>钨极直径(mm)</th>
            <th>喷嘴直径(mm)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>35-55A</td>
            <td>10mm/min</td>
            <td>10CrNiTi</td>
            <td>φ1-φ1.6</td>
            <td>8-12</td>
            <td>4-6</td>
            <td>2</td>
            <td>2</td>
            <td>12</td>
            <td>2</td>
            <td>3</td>
        </tr>
    </tbody>
</table>

<div class="jumbotron" style="padding:18px 60px;">
    <div style="font-size:22px;">
        <span>焊缝2</span>
        <span style="font-size:14px;padding-left:14px;">试焊状态：已完成</span>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>接头形式</th>
            <th>焊缝等级</th>
            <th>检验标准</th>
            <th>材料牌号1</th>
            <th>厚度1</th>
            <th>材料牌号2</th>
            <th>厚度2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>对接接头</td>
            <td>高级</td>
            <td>正常</td>
            <td>1Cr8Ni9Ti</td>
            <td>1.5</td>
            <td>10Cr18Ni9</td>
            <td>1</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped table-hover" style="margin:30px 0px;">
    <thead>
        <tr>
            <th></th>
            <th>焊接电流(A)</th>
            <th>焊接速度(mm/min)</th>
            <th>焊料牌号</th>
            <th>焊料规格</th>
            <th>氩气流量正(L/min)</th>
            <th>氩气流量反(L/min)</th>
            <th>电流衰减(s)</th>
            <th>保护气滞后(m/s)</th>
            <th>送丝速度(m/min)</th>
            <th>钨极直径(mm)</th>
            <th>喷嘴直径(mm)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>原始参数</td>
            <td>35-55</td>
            <td>10</td>
            <td>10CrNiTi</td>
            <td>φ1-φ1.6</td>
            <td>8-12</td>
            <td>4-6</td>
            <td>2</td>
            <td>2</td>
            <td>12</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>修订参数</td>
            <td>35-55</td>
            <td>8</td>
            <td>10CrNiTi</td>
            <td>φ1-φ1.6</td>
            <td>8-12</td>
            <td>4-6</td>
            <td>2</td>
            <td>2</td>
            <td>12</td>
            <td>2</td>
            <td>3</td>
        </tr>
    </tbody>
</table>

<div class="jumbotron" style="padding:18px 60px;">
    <div style="font-size:22px;">
        <span>焊缝3</span>
        <span style="font-size:14px;padding-left:14px;">试焊状态：已完成</span>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>接头形式</th>
            <th>焊缝等级</th>
            <th>检验标准</th>
            <th>材料牌号1</th>
            <th>厚度1</th>
            <th>材料牌号2</th>
            <th>厚度2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>对接接头</td>
            <td>高级</td>
            <td>正常</td>
            <td>1Cr8Ni9Ti</td>
            <td>1.5</td>
            <td>10Cr18Ni9</td>
            <td>1</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped table-hover" style="margin:30px 0px;">
    <thead>
        <tr>
            <th>焊接电流(A)</th>
            <th>焊接速度(mm/min)</th>
            <th>焊料牌号</th>
            <th>焊料规格</th>
            <th>氩气流量正(L/min)</th>
            <th>氩气流量反(L/min)</th>
            <th>电流衰减(s)</th>
            <th>保护气滞后(m/s)</th>
            <th>送丝速度(m/min)</th>
            <th>钨极直径(mm)</th>
            <th>喷嘴直径(mm)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>35-55</td>
            <td>10</td>
            <td>10CrNiTi</td>
            <td>φ1-φ1.6</td>
            <td>8-12</td>
            <td>4-6</td>
            <td>2</td>
            <td>2</td>
            <td>12</td>
            <td>2</td>
            <td>3</td>
        </tr>
    </tbody>
</table>

