<div class="jumbotron" style="padding:18px 60px;">
    <div style="font-size:22px;">
        <span>提交审核</span>
    </div>
</div>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">校对</label>
        <div class="controls">
            <input type="text">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">审核</label>
        <div class="controls">
            <input type="text">
        </div>
    </div>
</form>
<button type="submit" class="btn btn-large btn-primary">提交审核</button>
