@using WCAPP.Models.Database
<div style="border: 1px solid #eee; padding: 10px;">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a style="font-size: 16px" href="#tab1" data-toggle="tab">等待我审核</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <table class="table table-striped table-hover text-center">
                    <thead>
                    <tr>
                        <th class="text-center">工艺规程编号</th>
                        <th class="text-center">零件号</th>
                        <th class="text-center">零件名称</th>
                        <th class="text-center">操作 </th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        if (ViewBag.Approves != null)
                        {
                            foreach (Approve appr in ViewBag.Approves)
                            {
                                <tr>
                                    <td>@Html.ActionLink(appr.Process.No, "Detail", "Process", new {id = appr.ProcessId}, null)</td>
                                    <td>@appr.Process.PartNo</td>
                                    <td>@appr.Process.PartName</td>
                                    <td>@Html.ActionLink("审核", "Approve", "Approve", new {appr.Id},null)</td>
                                </tr>
                            }
                        }
                    }
                    </tbody>
                </table>
            </div>           
        </div>
    </div>
</div>


