<div style="padding:18px 30px;">
    <div style="font-size:22px;">
        <span>规程信息</span>
        <span style="font-size:14px;padding-left:14px;">@Html.ActionLink("焊接工艺规程", "Index", "Home") >> 规程12324(V100) </span>
    </div>
</div>
<div class="content">
    <div class="row" style="padding:0px 60px 20px;">
        <div class="col-md-4 col-xs-4">
            工艺规程编号：1234
        </div>
        <div class="col-md-4 col-xs-4">
            审核状态：已审核
        </div>
        <div class="col-md-4 col-xs-4">
            版本：V100
        </div>
    </div>
    <div class="row" style="padding:0px 60px 20px;">
        <div class="col-md-4 col-xs-4">
            零件号：1234
        </div>
        <div class="col-md-4 col-xs-4">
            零件名称：导流阀
        </div>
    </div>


    <table class="table table-striped table-hover text-center">
        <thead>
            <tr>
                <th class="text-center">工序号</th>
                <th class="text-center">工序名称</th>
                <th class="text-center">焊接方法</th>
                <th class="text-center">试焊状态</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.ActionLink("234", "", "")</td>
                <td>焊接</td>
                <td>导气阀</td>
                <td>已完成</td>
            </tr>
            <tr>
                <td><a href="#">12124</a></td>
                <td>焊接</td>
                <td>导气阀</td>
                <td>未开始</td>
            </tr>
        </tbody>
    </table>
</div>

