@using WCAPP.Models.Database
<div style="border: 1px solid #eee; padding: 10px;">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a style="font-size: 16px" href="#tab1" data-toggle="tab">提交试焊报告</a></li>
        </ul>
        <div class="tab-content" style="padding:20px 60px 20px;">
            <div class="tab-pane active" id="tab1">
                <div>
                    <div><label style="width:100px; margin:10px">操作者</label><input type="text" name="name" value="" /></div>
                    <div><label style="width:100px; margin:10px">检验员</label><input type="text" name="name" value="" /></div>
                    <div><label style="width:100px; margin:10px">检验报告编号</label><input type="text" name="name" value="" /></div>
                    <div><label style="width:100px; margin:10px">检验报告</label><a href="javascript:void(0)" class="btn btn-large btn-primary">上传</a></div>
                    <div>
                        <a href="javascript:void(0)" class="btn btn-large btn-primary">提交</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>